<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>


<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->


<body>
		<div id="wrappertop">
			<a href="index.html">
				<h1><img src="images/thebit.jpg">THE GNAW</h1>
    			
			</a>
		</div>

<div id = "menu">
<h7>
<a href="press.html"> PRESS -</a>
<a href="Release.html"> GRIND </a>
<a href="index.html">- RELEASE </a>
</h7>
<div id="bufferindex"></div>
</div>

		<!--<script type="text/javascript">
		document.write(screen.width + 'x' + screen.height);
		</script>-->


<div id = "wrappercentre">
	<div id = "text">
		<h5>8 Feb 2018 | <a href="press.html">PRESS</a></h5> <br \>
		<h6>TRUMP: 'Invest in America and get a free set of steak knives'</h6>
    	<div class= "portrait">
			<img src="./images/trumpsteak.jpg" alt="alttext" usemap="#mapname">

			<map name="mapname">
			    <area shape="rect" coords="70,130,210,200" href="meat.html">
			</map>
		</div>
		<br \>
		<br \>

		<h5>3 Feb 2018 | <a href="Release.html">RELEASE</a></h5> <br \>
		REJECTION, n. Shares a root with 'injection'. An infliction of pain which, as suggested by the change of prefix, occurs repeatedly and involves no penetration. <br \>
		<br \>
		SOLACE, n. A temporary salve for an incurable condition.<br \>
		<br \>
		INCURABLE, adj. Having no independent conclusion.<br \>
		<br \>
		CONCLUSION, n. The state of having no course for further rebuke.<br \>
		<br \>
		REBUKE, n. The success of another.<br \>
		<br \>
		SUCCESS, n. The illusory carrot souring the stew of life.<br \>
		<br \>

		<h5>3 Feb 2018 | <a href="Release.html">RELEASE</a></h5> <br \>

		It's time to refurbish, the old king said;<br \>
		The crenellations are crumbled and worn,<br \>
		The towers have tumbled, buttresses shorn,<br \>
		No space remains for a spike nor a head.<br \>
		Forgive me my lord, the architect's dead;<br \>
		Not three days gone, his widow still forlorn,<br \>
		Tributes and wreaths flock in - his tomb adorn,<br \>
		His children wonder how they will be fed.<br \>
		'Tis sad, said the king, when a good man dies<br \>
		Ere his work on the Earth is yet complete.<br \>
		His hand was quick and his eye was so keen,<br \>
		But so it is when the twinkling of eyes<br \>
		Breeds betrayal and later spawns deceit;<br \>
		He should ne'er have gone to bed with the queen!<br \>
		<br \>
		<h2>-JG</h2>
		<br \>

		<h5>3 Feb 2018 | <a href="index.html">GRIND</a></h5> <br \>
		HUNGER GAMES: CATCHING FIRE<br \>
		Lenny Kravitz undermines an oppressive political regime using increasingly flammable raiment. <br \>
		<br \>
		STAR WARS: THE LAST JEDI<br \>
		Interstellar-speed chase film cleverly shot to seem geologically slow. <br \>
		<br \>
		HER<br \>
		Romance that presents an optimistic vision of the future in which people fall in love without seeing each other. <br \>
		<br \>
		BRAZIL<br \>
		Political satire set in the past, portraying how things went wrong and how we came to be in the current state of affairs.<br \>
		<br \>
		YOU WERE NEVER REALLY HERE<br \>
		Conscience-laden war veteren distributes chocolate to children.<br \>
		<br \>


		<h5>3 Feb 2018 | <a href="index.html">GRIND</a></h5> <br \>
		BROCKHAMPTON: SATURATION I
		Aesthetically deficient boy-band takes refreshingly progressive angle by appealing to teenage boys. <br \> 
	</div>
	<div id = "wrapperad">
		<div class = "advert">
			<img src="images/nikanon1.jpg">
		</div>
	</div>
</div>
</body>
</html>
