<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
		<div id="wrappertop">
			<a href="index.html"><h1>THE GNAW</h1></a>
		</div>
<div id = "menu">
<h4>
<a href="writing.html">Writing</a>
</h4>
<h7>
<a href="press.html">PRESS</a>
</h7>
<h4>
<a href="index.html">Reviews</a>
</h4>
<div id="bufferindex"></div>
</div>

<div id = "wrapper">
	
	<div id = "text">

		<h3>News</h3>
		<h5>8 Feb 2018</a></h5> <br \>
		<h6>TRUMP: 'Invest in America and get a free set of steak knives'</h6>
		<div class="portrait">
    		<img src="images/trumpsteak.jpg">
		</div>
		<br \>
	</div>

</div>
</body>
</html>
