<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
		<div id="wrappertop">
			<a href="index.html"><h1>THE GNAW</h1></a>
		</div>
<div id = "menu">
<h4>
<a href="writing.html">Writing</a>
<a href="news.html">News</a>
<a href="index.html">Reviews</a>
</h4>
<div id="bufferindex"></div>
</div>

<div id = "wrapper">
	
	<div id = "text">

		<h3>Writing</h3>
		<h5>3 Feb 2018 | Dictionary</h5> <br \>
		REJECTION, n. Shares a root with 'injection'. An infliction of pain which, as suggested by the change of prefix, occurs repeatedly and involves no penetration. <br \>
		<br \>
		SOLACE, n. A temporary salve for an incurable condition.<br \>
		<br \>
		INCURABLE, adj. Having no independent conclusion.<br \>
		<br \>
		CONCLUSION, n. The state of having no course for further rebuke.<br \>
		<br \>
		REBUKE, n. The success of another.<br \>
		<br \>
		SUCCESS, n. The illusory carrot souring the stew of life.<br \>
		<br \>

		<h5>3 Feb 2018 | Poetry</h5> <br \>

		It's time to refurbish, the old king said;<br \>
		The crenellations are crumbled and worn,<br \>
		The towers have tumbled, buttresses shorn,<br \>
		No space remains for a spike nor a head.<br \>
		Forgive me my lord, the architect's dead;<br \>
		Not three days gone, his widow still forlorn,<br \>
		Tributes and wreaths flock in - his tomb adorn,<br \>
		His children wonder how they will be fed.<br \>
		'Tis sad, said the king, when a good man dies<br \>
		Ere his work on the Earth is yet complete.<br \>
		His hand was quick and his eye was so keen,<br \>
		But so it is when the twinkling of eyes<br \>
		Breeds betrayal and later spawns deceit;<br \>
		He should ne'er have gone to bed with the queen!<br \>
		<br \>
		<h2>-JG</h2>
		<br \>
	</div>

</div>
</body>
</html>
